.content-container {
    display:flex;
    position: absolute;

    top:15%;
    margin-left: 55%;
    flex-direction: row;
    margin-bottom: 55%;
    position: absolute;
    float: right;
}

.content {
    /* width:70%; */
    /* height: 60%; */
}

.editButton {
    color: white;
    margin-left: 20px;
    border: #FF30BD solid;
    text-decoration-color: #FF30BD;
    padding: 10px;
    height: fit-content;
}

.editButton:hover {
    color: black;
    text-decoration-color: black;
    border: #FF30BD solid;
    background-color: #FF30BD;
}
