.NoteBookNotes {
    /* margin-top: 50px; */
    display: flex;
    color: white;
    background-color: blueviolet;
    /* padding: 10px; */
    width: auto;
    height: fit-content;
    /* text-decoration: none; */
}


.NotebookNotesContainer {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    align-items: center;
    /* justify-self: center; */
    /* top: 25%;
    right:10%;
    margin-left: 0px; */
    text-decoration: none;
}

h1.NotebookTitle {
    display: flex;
    margin-bottom: 50px;
    margin-top: 3em;
    /* width: 100%; */
    /* align-self: center; */
    /* height: 10%; */
    color:whitesmoke;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* justify-self: auto; */
}


/* @media screen and (min-width: 900px) {
    .NotebookNotesContainer {
      padding: 2rem;
    }
  } */

  /* @media screen and (min-width: 900px) {
    .NotebookNotesContainer {
      padding: 5rem 1rem;
    }
  } */
