.NoteBookNotes {
    color: white;
    background-color: blueviolet;
}


.NotebookNotesContainer {
    display: flex;
    flex-direction: column;
    position:absolute;
    align-content: center;
    top: 25%;
    right:10%;
}

h1.NotebookTitle {
    display: flex;
    width: 100%;
    color:whitesmoke;
    justify-content: center;
}


@media screen and (min-width: 900px) {
    .NotebookNotesContainer {
      padding: 2rem;
      right: 0px;
    }
  }
