.NoteBookNotes {
    display: flex;
    color: white;
    background-color: blueviolet;
    /* padding: 10px; */
    width: fit-content;
    /* text-decoration: none; */
}


.NotebookNotesContainer {
    display: flex;
    flex-direction: column;
    position:absolute;
    align-content: center;
    top: 25%;
    right:10%;
    margin-left: 0px;
    text-decoration: none;
}

h1.NotebookTitle {
    display: flex;
    width: 100%;
    color:whitesmoke;
    justify-content: center;
}


@media screen and (min-width: 900px) {
    .NotebookNotesContainer {
      padding: 2rem;
      /* right: 10px; */
    }
  }
