.notesContainer {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    padding-left: 10%;
    width: 100%;
}


.notesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    color: white;
    padding-top: 8%;
    /* border: white solid; */

}

.note {

    text-decoration: white;
}


.newNoteContainer {
    margin-top: 20px;
    margin-right: 10px;
}

.newNote {
    color: white;
    margin-top: 5%;

}
