.signup {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #e5771e;
    padding: 10px;
    color: black;
}

.signup:hover {
    background-color: #f38831;
}

.middle-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.middle-navU {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: #e5771e;
}

.books {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: #e5771e;
}

.booksU {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    width: 35%;
    padding-top: 10px;
    padding-left: 15px;
    /* background-color: #75c8ae; */
}

.pixButton1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixelnote1{
    padding-top: 15px;
    padding-bottom: 15px;;
}

.pixButtonU1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start; */
    color: black;
    text-decoration: none;
}

.pixelnoteU1{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;;

}

.pixelnote2{
    padding-top: 15px;
    padding-bottom: 10px;
}

.pixButton2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixelnoteU2{
    padding-top: 15px;
    padding-bottom: 10px;

}

.pixButtonU2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.pixelnote3{
    padding-top: 15px;
    padding-bottom: 15px;
}

.pixButton3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixelnoteU3{
    padding-top: 15px;
    padding-bottom: 15px;
}

.pixButtonU3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pixelnote4{
    padding-top: 20px;
    padding-bottom: 15px;
}

.pixButton4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixelnoteU4{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;

}

.pixButtonU4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;
    text-decoration: none;
}


.firstDescription {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
}

.secondDescription {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
}

p {
  display: flex;
  height: 20%;
  width: 45%;
  line-height: 30px;
  background-color: #75c8ae;
  color: black;
  padding:15px;
}

.listBenefits {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 45%;
    line-height: 40px;
    background-color: #75c8ae;
    color: black;
    padding:15px;
    list-style-type: none;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
