.listContainer {
    display: flex;
    text-decoration: turquoise;
    width: fit-content;
    justify-content: flex-start;
    margin-top: 4%;
    border: white solid;
    margin-left: 15%;
}

.notesHeader {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    padding-left: 25%;
}

.newNote {
    border:turquoise solid;
    padding: 15px;
    text-decoration-color: turquoise;
}

.newNote:hover {
    color: black;
    text-decoration-color: black;
    border: turquoise solid;
    background-color: turquoise;

}
