.titleInputEdit {
    width: 25%;
    height:15%;
    margin-top: 15px;
    /* margin-bottom: 20px; */
}
.cancelEditBtn {
    color: black;
    margin-top: 20px;
}

.deleteBtnEdit {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: flex-end;
    text-decoration-line: underline;
    text-decoration-color: red;
    /* border: red solid; */
    margin-bottom: 5px;
}


.deleteBtnEdit:hover {
    color: red;
    text-decoration-color: black;
}
