/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    /* display: flexbox; */
    /* background-color: #ffecb4; */
    background-image: url('./Images/Home-page-screen.gif');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
}
