.WOP {
    color:white;
    display:flex;
    justify-content: center;
}

/* .test8 {
    display: flex;
} */



.allNotebooks {
    display: flex;
    flex-direction: column;
    /* max-height: 50%; */
    /* width: 25%; */
    width: 600px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    margin: 5rem 1rem;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    /* position:absolute; */
    /* position:; */
    /* margin-left:0px; */
    /* top: 25%;
    left:15%; */
    /* margin-top: 5%; */
}


/* @media screen and (min-width: 900px) {
    .allNotebooks {

    }
  } */
