.WOP {
    color:white;
    display:flex;
    justify-content: center;
}

/* .test8 {
    display: flex;
} */



.allNotebooks {
    display: flex;
    flex-direction: column;
    /* position:absolute; */
    /* position:; */
    /* margin-left:0px; */
    /* top: 25%;
    left:15%; */
    margin-top: 5%;
}

@media screen and (min-width: 900px) {
    .allNotebooks {
      padding: 5rem 1rem;
    }
  }
