.formContainer {
    width: 100%;
    flex-direction: row;
    align-content: center;
}


.form {
    background-color: none;
    margin-top: 8%;
    margin-left: 15%;
/* justify-content: center; */
    width: 70%;
    border-radius: 20px;
    border: whitesmoke solid;

}

.contentInput {
    width: 750px;
    max-width: 100%;
    height: 100%;
    margin-top: 15px;
}

.titleInput {
    width: 25%;
    height:15%;
    font-family: 'Press Start 2P', cursive;
    /* margin-bottom: 10px; */
}

.cancelCreateBtn {
    color: black;
    margin-top: 20px;
}
