.formContainer {
    width: 100%;
    flex-direction: row;
    align-content: center;
}


.form {
    background-color: #86b460;
    margin-top: 8%;
    margin-left: 15%;
/* justify-content: center; */
    width: 70%;
}

.contentInput {
    width: 90%;
    height: 100%;
    margin-top: 15px;
}

.titleInput {
    width: 25%;
    height:15%;
    /* margin-bottom: 10px; */
}

.cancelCreateBtn {
    color: black;
    margin-top: 20px;
}
