.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    background-color: #e5771e;
    display: flex;
    padding-top: 10px;
}

.right-nav {
    display: flex;
}

.signup2 {
    padding-right: 10px;
    text-decoration: none;
    color: black;
    padding-top: 20px;
}
