.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* li {
    background-color: #e5771e;
    display: flex;
    padding-top: 10px;
} */

.right-nav {
    display: flex;
}

.signup2 {
    padding-right: 10px;
    text-decoration: none;
    color: black;
    padding-top: 20px;
    padding-left: 13px;
    border: 1px solid;
}

.signup2:hover{
    color:black;
    background-color: white;

}

/* .profile-dropdown {
    color: white
} */

.logout {
    background-color: #58f31a;
    border: #3a750a solid;
    color: black;
}

.logout:hover {
    background-color: rgb(30, 214, 246);
}
