.login {
    background-color: royalblue;
    display: flex;
    width: 100px;
    align-self: flex-start;
}

.button {
    background: none;
    color: black;
    border: none;
    font: inherit;
    cursor: pointer;
    padding-top: 20px;
}
